<h1>{{ page.title }}</h1>
<div>{{ page.content }}</div>

<div class="container">
  <img
    class="error-image"
    src="https://cdn.dribbble.com/users/2594343/screenshots/6537210/404-animation-cat.gif"
    alt="Broken Page"
  />
  <h1 class="error-heading">404 Page Not Found</h1>
  <p class="error-message">The requested page could not be found.</p>
  <p class="error-message">
    Go back to the <a class="error-link" href="/">homepage</a>.
  </p>
</div>
